#news-saved-message {
    margin: 15px 0;
    display: none;
}

#news .form-line {
    margin: 25px 0 15px 0;
}

#news .notice {
    color: var(--color-error);
}



[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.columnHashtag {
  width: 162px;
  padding-bottom: 5px;
  padding-top: 5px;
  cursor: move;
}
.columnHashtag header {
  height: 20px;
  width: 150px;
  color: black;
  background-color: #ccc;
  padding: 5px;
  border-bottom: 1px solid #ddd;
  border-radius: 10px;
  border: 2px solid #666666;
}

.columnHashtag.dragElem {
}

.columnHashtag.over {
  //border: 2px dashed #000;
  border-top: 2px solid blue;
}
